.forgot-password-container {
}
.forgot-top-container {
    padding: 10px;
    border-radius: 4px;
    width: 290px;
    margin: 50px auto;
    background: antiquewhite;
}
.forgot-password-container .forgot-top-container input {
    width: 95%;
    margin-top: 13px;
    margin-bottom: 11px;
    padding: 7px;
    outline: none;
    border: 1px solid;
    height: 50px;
    border-radius: 4px;
    color: #000;
}
.forgot-password-container .forgot-top-container button {
    width: 95%;
    display: block;
    padding: 13px 10px;
    border: none;
    background: darkgoldenrod;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 30px;
}
