.filter-card-container-product {
    position: relative;
}

.filter-card-container-product .filter-card-title {
    font-weight: bold;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    text-align: center;
    white-space: nowrap;
}

.filter-card-container-product .filter-card {
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 188px;
    max-height: 170px;
    min-height: 226px;
    background: #fff;
    width: 200px;
    position: relative;
}

.filter-card-container-product .filter-favorite {
    position: absolute;
    bottom: 2px;
    right: 16px;
    cursor: pointer;
}

.filter-card-container-product .filter-card-price-container {
    margin: 10px 0 10px 0;
}
.filter-card-discount-container .old-price {
    text-decoration: line-through;
    margin-right: 7px;
}
.filter-card-discount-container .discount-percentage {
    padding: 3px;
    background: antiquewhite;
    color: #9c27b0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
}

@media all and (max-width: 681px) {
    .filter-card-container-product .filter-card {
        width: 168px;
    }
}
