.cart-card {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.cart-card .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.cart-card .decrease-cart {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.cart-card .increase-cart {
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-card .cart-quantity {
    display: flex;
    background: black;
    align-items: center;
    color: #fff;
    width: 72px;
    justify-content: center;
    border-radius: 4px;
    margin: 0 10px;
}
.cart-card .cart-remove-button {
    border: none;
    background: rgb(255, 18, 18);
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}
