.category-page {
    display: flex;
    background: #daecf2;
}
.products-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px 0;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.filter-icon {
    display: none;
}
.filter-Modal {
    width: 100%;
    height: 100vh;
}
@media all and (max-width: 781px) {
    .filter-side-container {
        display: none;
    }
    .filter-icon {
        display: block;
        display: flex;
        padding: 10px;
        justify-content: center;
        cursor: pointer;
    }
}
