.header-container {
    box-shadow: 0 6px 7px 0 hsla(0, 0%, 76.9%, 0.16);
    width: 100%;
}
.header-container .wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hamburger-link {
    padding: 5px 19px;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    display: block;
    margin-bottom: 14px;
}
.favourite {
    position: relative;
}
.favourites-count {
    background: green;
    padding: 1px 7px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    right: -8px;
}
.favourites-count-hamburger {
    background: green;
    padding: 0px 7px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}
.hamburger-container {
    display: none;
}

@media all and (max-width: 781px) {
    .header-container .middle-container {
        display: none;
    }
    .header-container .right-container {
        display: none;
    }
    .header-container .hamburger {
        display: flex !important;
    }
    .hamburger {
        display: block;
    }
    .hamburger-container {
        display: block;
    }
}
.middle-link {
    margin-right: 40px;
}
.hamburger {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.hamburger span {
    display: block;
    width: 28px;
    height: 2px;
    background: #000;
    margin: 4px 0;
}

.menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background: #fff;
    transition: left 0.3s;
    z-index: 10000;
}

.menu.open {
    left: 0;
}
.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 1000;
    top: 0;
    display: none;
    cursor: pointer;
}
.sidebar.open {
    display: block;
}
