.login-container {
    padding: 10px;
    border-radius: 4px;
    width: 290px;
}
.login-container .top-container {
    width: 100%;
}
.login-container .top-container button {
    background: darkgoldenrod;
    width: 95%;
    display: block;
    padding: 13px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.login-container h1 {
    text-align: center;
}
.login-container input {
    width: 95%;
    margin-top: 13px;
    margin-bottom: 11px;
    padding: 7px;
    outline: none;
    border: 1px solid;
    height: 50px;
    border-radius: 4px;
    color: #000;
}

.login-container a {
    text-decoration: none;
}
.login-container .forgot-password {
    text-align: right;
    display: block;
    margin: 12px 14px 0 15px;
    color: #fff;
}
.login-container p.bottom-link {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}
