.filters {
    background: #fff;
    border-top: 1px solid #94969f4d;
    border-bottom: 1px solid #94969f4d;
    border-radius: 2px;
    padding: 10px;
    width: 260px;
    height: 100vh;
}
.wrapper-filter {
    width: 98%;
    margin: 0 auto;
}
.price-range-head {
    margin-bottom: 50px;
}
.slider-container {
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 781px) {
    .bottom-filter-container {
        position: fixed;
        bottom: 59px;
        left: 0px;
        width: 100%;
        background: #fff;
    }
}

.bottom-filter-container .close-button {
    width: 50%;
    padding: 10px;
    background: none;
}
.bottom-filter-container .apply-button {
    width: 50%;
    padding: 10px;
    background: none;
}
.filter-group {
    margin-bottom: 20px;
}

.price-range {
    width: 100%;
}

.brand-checkboxes label {
    display: block;
    margin-bottom: 8px;
}
