.card-container {
    display: flex;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.heading-products {
    text-align: end;
    border-bottom: 3px solid #fbee4f;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffd800;
}

.bottom-navigation-container {
}
@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }
}
@media screen and (max-width: 640px) {
    .bottom-navigation-container {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #c4cad0;
        border-radius: 8px;
        border: 2px solid #fff;
    }
}
