.product-details-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 114px);
}
.product-details-page .product-images {
    width: 40%;
}
.product-images {
    display: flex;
    width: 50%;
    max-height: 200px;
}

.product-details {
    padding: 35px 0px 114px 0;
}

.product-details .product-quantity {
    display: flex;
    background: #f5f5f6;
    color: #282c3f;
    align-items: center;
    width: 98px;
    margin: 10px auto;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
}
.product-details .product-quantity .decrease-cart {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0 10px;
}
.product-details .product-quantity .increase-cart {
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 10px;
}

.product-title {
    color: #282c3f;
    font-size: 24px;
    font-weight: 700;
}

.product-description {
    color: #535665;
    padding: 5px 20px 14px 0;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 400;
}

.product-price {
    font-size: 18px;
    margin-bottom: 10px;
}
.product-price .price {
    font-weight: 900;
    font-size: 24px;
}

.discount {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #ff905a;
}

.product-rating {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-stock {
    font-size: 16px;
    margin-bottom: 10px;
}
.button-container {
}

.button-container .wish-list {
    padding: 14px 14px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    width: 30%;
}
.button-container .add-to-cart-button {
    padding: 14px 14px;
    background-color: #ff3e6c;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
}
.add-to-cart-button:hover {
    background-color: #ff3ea5;
}
.swiper-pagination-bullet-active {
    background-color: #ff3e6c !important;
    width: 20px !important;
    border-radius: 4px !important;
}
@media all and (max-width: 781px) {
    .product-details-page .product-images {
        width: 100%;
    }
    .button-container .wish-list {
        width: 50%;
    }
    .button-container .add-to-cart-button {
        width: 50%;
    }
    .button-container {
        position: fixed;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        z-index: 11;
        background-color: #fff;
        width: 100%;
        bottom: 58px;
        left: 0;
    }
}
