.cart-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 74px;
}
.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-items {
    margin-top: 20px;
}

.card-container {
    display: grid;
    grid-gap: 20px;
}

.cart-total {
    margin-top: 20px;
}

.total-text {
    font-size: 18px;
}
.coupon-container {
    margin-bottom: 10px;
}

.coupon-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.coupon-button {
    font-size: 12px;
    padding: 13px 16px;
    font-weight: 600;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 63, 108);
    border-color: rgb(255, 63, 108);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #ff3e6c;
}

@media all and (max-width: 781px) {
    .checkout-button {
        position: fixed;
        bottom: 58px;
        left: 0;
        width: 100%;
        border-radius: 0;
        padding: 14px 14px;
        background-color: #ff3e6c;
    }
}
